<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-Bot</title>
    <link rel="icon" href="/static/fv1.jpg" type="image/jpeg">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="page-title">
        <h1>G-bot Assistant</h1>
    </div>

    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div>
        
        <!-- Input and button are placed inside the input-container div -->
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Type a message..." />
            <button onclick="sendMessage()">➤</button>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>
